/* Add your styles here */
.container {
    border: 1px solid #cccccc;

    box-shadow: 10px 10px 30px 0px rgba(23, 0, 0, 0.75);

    border-radius: 20px;

    position: absolute;

    top: 55%;

    left: 50%;

    transform: translate(-50%, -50%);

    width: 450px;

    height: 400px;

    background-color: tan;
}

h1 {
    color: midnightblue;
    font-family: cursive;
    border: 1px solid #cccccc;
    border-radius: 20px;
    background-color: darkcyan;
    box-shadow: 10px 10px 30px 0px rgba(23, 0, 0, 0.75);
}
.keys {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    grid-gap: 10px;

    padding: 10px;

    margin: auto;
}

.button {
    height: 60px;

    padding: 5px;

    background-color: #fff;

    border-radius: 10px;

    border: 1px solid #c4c4c4;

    background-color: transparent;

    font-size: 2rem;

    color: #333;

    background-image: linear-gradient(
        to bottom,
        transparent,
        transparent 50%,
        rgba(0, 0, 0, 0.04)
    );

    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
        inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
        inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
        0 1px 0 0 rgba(255, 255, 255, 0.15);

    text-shadow: 0 1px rgba(255, 255, 255, 0.8);
}

.button:hover {
    background-color: peachpuff;
}

.operator {
    color: darkslategray;
    font-size: xx-large;
    background-color: lavenderblush;
    border-radius: 10px;
}
.operator:hover {
    background-color: salmon;
}

.clear {
    background-color: black;

    border-color: #b0353a;

    color: #fff;

    width: 50px;

    height: 30px;

    border-radius: 10px;
}

.clear:hover {
    background-color: powderblue;
}

.equal-sign {
    background-color: none;

    border-color: black;

    color: black;
}

.equal-sign:hover {
    background-color: teal;
}

.screen {
    background-color: lavender;

    justify-content: left;

    color: azure;

    font-size: xx-large;

    width: 50%;

    height: 30%;

    cursor: default;

    padding: 10px;

    padding-left: 40%;

    margin: auto;

    margin-bottom: 10px;

    border-radius: 10px;
}
